:root {
  --background: #ffffff;
  --primary: #1b1b1b;
  --detail: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--background);
  color: var(--primary);
  display: flex;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1;
  z-index: 2;
}

.sticky-gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 30.045687134503773%,
    rgb(255, 255, 255) 100%
  );
}

aside {
  width: 300px;
  height: 100dvh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 32px;
  z-index: 3;
}

.navigation {
  background: var(--detail);
  padding: 8px;
  border-radius: 20px;
  margin-top: 32px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 38px;
  border-radius: 32px;
}

.nav_item.active {
  background-color: var(--background);
}

.nav_item.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary);
}

.aside_bottom {
  position: absolute;
  bottom: 32px;
  display: flex;
  align-items: center;  
  gap: 8px;
}

.aside_bottom a {
  display: block;
  height: 64px;
  background: var(--detail);
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.aside_bottom a img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.aside_bottom span {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-self: end;
  margin-left: 16px;
  margin-bottom: 4px;
  opacity: .4;
}

/* --------------- MOBILE MENU ---------------- */
.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  display: none;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
}

.mobile_nav img {
  width: 130px;
}

.mobile_nav ul {
  display: flex;
  gap: 16px;
  background: var(--detail);
  padding: 4px;
  border-radius: 12px;
}

.nav_item {
  padding: 4px 8px;
  border-radius: 6px;
}

@media (max-width: 1024px) {
  aside {
    display: none;
  }
  .mobile_nav {
    display: flex;
  }
}
