:root {
  --background: #eff3f8;
  --primary: #1e222c;
  --detail: #4E4E4E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--background);
  display: flex;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1;
  z-index: 2;
}

aside {
  width: 300px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 32px;
  z-index: 3;
}

.navigation {
  background: white;
  padding: 8px;
  border-radius: 20px;
  margin-top: 32px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 38px;
  border-radius: 32px;
}

.navigation ul li.active {
  background-color: var(--background);
}

.navigation ul li.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--detail);
}

.aside_bottom {
  position: absolute;
  bottom: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.aside_bottom a {
  display: block;
  height: 64px;
  background: white;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.aside_bottom a img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.hero {
  width: 100%;
  height: 80vh;
  line-height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero_title {
  font-size: 90px;
  text-align: center;
  letter-spacing: -6px;
  font-weight: normal;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.input {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  z-index: 3;
}

.input_wrapper {
  width: 100%;
  height: 130px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 24px;
  position: relative;
  margin: 0 32px;
}

.input_wrapper_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input_wrapper_left h2 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  top: 16px;
  left: 16px;
}

.input_wrapper input {
  border: none;
  width: 100%;
  font-size: 42px;
  font-weight: 200;
  outline: none;
  padding-left: 8px;
}

.input_wrapper input::placeholder {
  font-weight: 200;
}

.button_input {
  margin-right: 4px;
}

svg {
  width: 100%;
  height: 100%;
}

/* ============= IMAGE TRAIL ================= */
.items {
  width: 100%;
  height: 100%; 
  z-index: 1;
}

.item {
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: #000;
  overflow: hidden;
  border-radius: 16px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.world {
  transform: scale(1);
  opacity: 1;
  transform: translateY(0); 
}